body{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content{
    width: 50%;
    margin: 0 auto;
}
.header{
    text-align: center;
    padding-bottom: 25px;
}
.inf{
    text-align: justify;
}
.author{
    vertical-align: bottom;
}